<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard | Sevaa Bandhu</title>
  <link rel="icon" type="image/x-icon" href="/images/icon.ico">
  <link rel="stylesheet" href="/css/dashboard.css" />
</head>

<body>
  <div class="dashboard-container">
    <h1>Welcome, <%= user.firstname %>
        <%= user.lastname %> !</h1>
    <div class="btn-grp">
      <a href="/" class="btn back-home">Go to Main Page</a>
      <a href="/auth/logout" class="logout-btn">Logout</a>
    </div>
  </div>
</body>

</html>