<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registration-Sevaa Bandhu</title>
    <link rel="icon" type="image/x-icon" href="/images/icon.ico">
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" media="screen" href="/css/registerWorker.css" />
</head>

<body>
    <section class="container">
        <% if (error) { %>
            <p class="error-message">
                <%= error %>
            </p>
            <% } %>
                <form action="/register" method="POST" class="form" id="registerForm" enctype="multipart/form-data">
                    <div class="firstSection" id="firstSection">
                        <header>Registration/ पंजीकरण</header>
                        <div class="input-box">
                            <label>First Name/नाम *</label>
                            <input type="text" name="firstname" id="firstname" required />
                        </div>
                        <div class="input-box">
                            <label>Last Name/उपनाम *</label>
                            <input type="text" name="lastname" id="lastname" required />
                        </div>
                        <div class="input-box">
                            <label>Email Address/ईमेल आईडी</label>
                            <input type="email" name="email" id="email">
                        </div>

                        <div class="column">
                            <div class="input-box">
                                <label>Phone Number/मोबाइल नंबर *</label>
                                <input type="number" name="phone" maxlength="10" id="phone" required />
                            </div>
                            <div class="input-box">
                                <label>Birth Date/
                                    जन्म तारीख *</label>
                                <input type="date" name="dob" id="dob" required />
                            </div>
                        </div>
                        <div class="input-box">
                            <label>Aadhar Number/आधार नंबर *</label>
                            <input type="number" name="aadhar" maxlength="12" id="aadhar" required />
                        </div>

                        <div class="gender-box">
                            <h3>Gender/लिंग *</h3>
                            <div class="gender-option">
                                <div class="gender">
                                    <input type="radio" id="check-male" name="gender" checked />
                                    <label for="check-male">Male/पुरुष</label>
                                </div>
                                <div class="gender">
                                    <input type="radio" id="check-female" name="gender" />
                                    <label for="check-female">Female/महिला</label>
                                </div>
                                <div class="gender">
                                    <input type="radio" id="check-other" name="gender" />
                                    <label for="check-other">Other/अन्य</label>
                                </div>
                            </div>
                        </div>
                        <div class="input-box">
                            <label>Age/आयु *</label>
                            <input type="number" name="age" min="18" maxlength="2" id="age" required />
                        </div>
                        <div class="input-box address">
                            <label>Address/पता *</label>
                            <input type="text" placeholder="Street address/आवासीय पता" name="address" id="address"
                                required />
                            <!--<input type="text" placeholder="Enter street address line 2/आवासीय पता पंक्ति 2 दर्ज करें" required />-->
                            <div class="column">
                                <div class="select-box">
                                    <select id="state" required>
                                        <option hidden>State/राज्य</option>
                                        <option>Madhya Pradesh/मध्य प्रदेश</option>
                                        <option>Other/अन्य</option>
                                    </select>
                                </div>
                                <input type="text" placeholder="City/शहर का नाम" name="city" id="city" required />
                            </div>
                            <div class="column">
                                <input type="text" placeholder="Region/क्षेत्र का नाम" name="region" id="region"
                                    required />
                                <!--<input type="number" placeholder="Enter postal code/डाक कोड दर्ज करें" required />-->
                            </div>
                        </div>
                        <div class="choice-box">
                            <h3>Are you a Labourer or Client? / क्या आप मजदूर हैं या ग्राहक हैं? *</h3>
                            <div class="choice-option">
                                <div class="choice">
                                    <input type="radio" id="worker" name="choice" checked />
                                    <label for="worker">Labourer/मजदूर</label>
                                </div>
                                <div class="choice">
                                    <input type="radio" id="client" name="choice" />
                                    <label for="client">Client/ग्राहक</label>
                                </div>
                            </div>
                        </div>
                        <div class="choice-box">
                            <h3 id="password">Create Password/पासवर्ड बनाएं *</h3>
                            <input type="password" value="" id="password_fld" minlength="8" name="password" />
                            <h3 id="password">Confirm Password/पासवर्ड दोबारा दर्ज करें *</h3>
                            <input type="password" value="" id="chk_password" minlength="8" name="password" />

                            <div class="choice">
                                <input type="checkbox" id="passwordcheck" name="passwordcheck" onclick="myFunction()">
                                <label id="check-password" for="check-password">Show Password/पासवर्ड दिखाए</label>
                            </div>
                        </div>
                        <button id="Send" class="Centerbutton">Send OTP / ओटीपी भेजें</button>

                        <div class="input-box" id="otpsection" style="display: none;">
                            <label>Enter your OTP/अपना ओटीपी दर्ज करें</label>
                            <input id=otp type="number" name="otp" required />
                            <button type="submit" id="Verify" class="Centerbutton">Verify and Proceed / सत्यापित करें और
                                आगे
                                बढ़ें</button>
                        </div>
                    </div>

                    <!-- Worker details section -->
                    <div class="container-worker" id="container-worker">
                        <header>Worker Details/ श्रमिक विवरण</header>
                        <div class="work-box">
                            <h3>Work Field (Please select)/
                                आपका कार्यक्षेत्र (कृपया चयन करें) *</h3>
                            <div class="work-option">
                                <select id="skillset">
                                    <option hidden>Choose Field/कार्यक्षेत्र चुनें</option>
                                    <option>Mason/राजमिस्त्री</option>
                                    <option>Domestic Help/घरेलू कामगार</option>
                                    <option>Electrician/इलेक्ट्रीशियन</option>
                                    <option>Carpenter/बढ़ई</option>
                                    <option>Plumber/प्लंबर</option>
                                    <option>Gardener/माली</option>
                                    <option>Other/अन्य</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-box">
                            <label>Work Experience (in years)/कार्य अनुभव (वर्षों में) *</label>
                            <input type="number" placeholder="Work Experience/आपका कार्य अनुभव" id="experience">
                        </div>

                        <div class="column">
                            <div class="input-box">
                                <label>Expected Daily Wages(in ₹)/अपेक्षित प्रति दिन मजदूरी(₹ में)</label>
                                <input type="number">
                            </div>
                        </div>

                        <div class="column">
                            <div class="input-box">
                                <label>Please Upload Required Documents/कृपया आवश्यक दस्तावेज अपलोड करें *</label>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label>Identity Proof(Aadhar Card/Voter ID/PAN Card)/ पहचान प्रमाण (आधार कार्ड/वोटर
                                    आईडी/पैन कार्ड) *</label>
                                <input type="file" accept="image/*" id="certificate" />
                                <br><br>
                                <label>Passport Size Photo/पासपोर्ट साइज फोटो</label>
                                <input type="file" accept="image/*" id="userphoto" />
                            </div>
                        </div>
                        <button type="submit" id="next">Save Details/ विवरण सहेजें</button>
                    </div>

                    <script src="/js/register.js"></script>
                </form>
    </section>
</body>

</html>