@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

::-moz-selection {
    background-color: #90b2e2;
    color: rgb(200, 71, 84);
}

::selection {
    background-color: #90b2e2;
    color: rgb(200, 71, 84);
}

body {
    font-family: "Poppins", sans-serif;
    color: rgb(39, 39, 39);
    background-color: #c9dfe5;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    min-height: 100vh;
}

.login-left,
.form-section {
    flex: 1 1 400px;
    padding: 20px;
    box-sizing: border-box;
}

.login-left {
    max-width: 600px;
}

.login-left .logo-icon {
    margin-left: 20%;
}

.login-left h2 {
    font-size: 2.1rem;
    margin-bottom: 20px;
    text-shadow: 0 0 1px rgba(13, 13, 13, 0.8);
}

.login-left p {
    font-size: 1.2rem;
}

.form-section {
    background: #ffffff20;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 30px;
    max-width: 400px;
    text-align: center;
}

.form-section .head {
    padding: 5px;
    border-bottom: 2px solid #066471;
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.input-group {
    outline: none;
    position: relative;
    margin-bottom: 20px;
}

.input-group .icon {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #007B8A;
    font-size: 1.5rem;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1.2px solid #007B8A;
    font-size: 1rem;
    outline: none;
    transition: all 100ms;
}

.input-group input:hover,
.input-group input:focus {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 3px #007B8A;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 20px;
    accent-color: rgb(13, 146, 167);
}

.link {
    color: #007B8A;
}

.login-btn,
.verify-btn,
.update-btn,
.send-otp-btn {
    width: 100%;
    background-color: #007B8A;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.send-otp-btn {
    margin: 10px 0 20px 0;
}

.login-btn:hover,
.verify-btn:hover,
.update-btn:hover,
.send-otp-btn:hover {
    border-radius: 10px;
    background-color: #066471;
}

.create-account-text {
    margin-top: 20px;
}

/* Hide sections initially */
#forgotSection,
#resetPasswordSection {
    display: none;
}

@media (max-width: 620px) {
    .login-container {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .login-left {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        max-height: 250px;
    }

    .login-left img {
        width: 100px;
        height: auto;
        margin-left: -20%;
    }

    .login-left h2 {
        font-size: 22px;
    }

    .login-left p {
        font-size: 14px;
    }

    .form-section {
        width: 100%;
        padding: 10px 20px;
    }

    .input-group {
        flex-direction: row;
        align-items: center;
    }

    .input-group i.icon {
        margin-right: 8px;
    }

    .input-group input {
        font-size: 14px;
    }

    .login-btn,
    .send-otp-btn,
    .verify-btn,
    .update-btn {
        font-size: 14px;
        padding: 8px;
    }

    .options {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }

    .create-account-text, .admin-redirect {
        font-size: 14px;
    }
}